:root {
  font-size: 15px;
}

.slidecontainer {
  width: 100%;
  margin-bottom: 2rem;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.5rem;
  background: hsl(224, 65%, 95%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background: url(images/icon-slider.svg), hsl(174, 86%, 45%);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0.5rem 1rem hsl(174, 77%, 80%);

  cursor: pointer;
}

.slider::-moz-range-thumb {
  -moz-appearance: none;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  outline: none;
  border: none;
  background: url(images/icon-slider.svg), hsl(174, 86%, 45%);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider::-moz-range-progress {
  height: 100%;
  border-radius: 0.5rem;
  background: hsl(174, 77%, 80%);
}

.slider::-ms-fill-lower {
  height: 100%;
  border-radius: 0.5rem;
  background: hsl(174, 77%, 80%);
}
